POSTGRES_DB=swifttrack
POSTGRES_USER=swifttrack
POSTGRES_PASSWORD=swifttrack_dev
RABBITMQ_USER=swifttrack
RABBITMQ_PASSWORD=swifttrack_dev
JWT_SECRET=replace-this-in-any-non-demo-environment
WORKFLOW_MAX_RETRIES=3
WORKFLOW_RETRY_DELAY_SECONDS=5
WORKFLOW_DEMO_DELAY_SECONDS=0
